.form-contact .form-control {
  width: 100%;
  margin-bottom: 10px;
  border: none;
  border-bottom: 2px solid #808740;
  outline: none;
  border-radius: 0;
  transition: border-bottom-color 0.3s ease-in-out;
  color: rgb(1, 120, 5) !important;
}
.form-contact .form-control input {
  background: transparent;
  border: none !important;
}
.form-contact .form-control:focus {
  border-bottom-color: #ccc;
  box-shadow: none;
  outline: none !important;
}

.form-contact .form-control.error {
  border-bottom-color: red !important;
}
